html {
  font-size: 100%;
  background-color: #1A237E;
}

body {
  margin: 0;
  font-family: serif;
}

#main-wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding-top: 10%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  color: white;
  font-size: 18px;
}

#title-wrapper {
  max-width: 85%;
}

h1, h4, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 2em;
}

h4 {
  font-family: sans-serif;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

.link {
  text-decoration: none;
  color: #EEFF41;
}

.url {
  font-family: sans-serif;
}

@media (min-width: 768px) {
  #main-wrapper {
    justify-content: center;
    align-items: center;

    padding: 0px;
    font-size: 24px;
  }
  #title-wrapper {
    max-width: 65%;
  }
}

@media (min-width: 1024px) {
  #title-wrapper {
    max-width: 600px;
  }
}
